$mobile-break-point: 1020px;

/* Home */

.home-cover {
  position: relative;
  align-items: center;

  @media screen and (max-width: $mobile-break-point) {
    align-items: flex-start !important;
  }
}

.home-cover-title {
  font-size: 62px;

  @media screen and (max-width: $mobile-break-point) {
    font-size: min(60px, 10.6vw);
    line-height: 1.35em !important;
    margin-top: 22px !important;
    margin-bottom: 13px !important;
  }
}

.home-cover-text {
  font-size: 19px !important;

  @media screen and (max-width: $mobile-break-point) {
    font-size: min(19px, 4.6vw) !important;
  }
}

.home-cover-img {
  position: absolute;
  height: 100%;
  max-height: 800px;
  margin-right: -255px;
  margin-bottom: -70px;
  overflow: hidden;
  right: 0;

  @media screen and (max-width: $mobile-break-point) {
    height: min(150vw, 75vh) !important;
    margin-right: calc(min(150vw, 75vh) / -2.8) !important;
    margin-bottom: -80px !important;
    bottom: 0;
  }
}

.home-cover-content-wrapper {
  position: relative;
  padding-bottom: 40px;

  @media screen and (max-width: $mobile-break-point) {
    padding-top: max(calc((100vh - min(150vw, 75vh)) / 2 - 10px), 115px) !important;
    padding-bottom: 0px !important;
  }
}